
<div class="navbar navbar-inverse yamm navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse-2" class="navbar-toggle"><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a href='#' class="navbar-brand">Linked Open Data Browser</a>
    </div>
    <form class="navbar-form navbar-left" role="search" ng-controller="ldbSearchDirectiveController">
        <div class="form-group">
            <input id="search" type="text" class="input-xlarge typeahead" placeholder="Search" ng-model="searchString"/>
        </div>
        <button type="submit" class="btn btn-danger" ng-click="browse()">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </form>
    <div id="navbar-collapse-2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <!-- Forms -->
            <li class="dropdown yamm-fw"><a data-toggle="dropdown" class="dropdown-toggle">
                <span class=" glyphicon glyphicon-cog"></span>
            </a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="yamm-content">

                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-0">
                                    <h4>
                                        SPARQL Endpoint:
                                    </h4>
                                </div>
                                <div class="col-sm-8">
                                    <form>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Endpoint..." value="{{endpoint}}">
                                            <span class="input-group-btn">
                                                 <button class="btn btn-success" type="button">ok</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>