<nav class="navbar navbar-inverse yamm navbar-fixed-top" ng-controller="ldbSearchDirectiveController">
    <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse-2" class="navbar-toggle"><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand">Linked Open Data Browser</a>
    </div>

    <div class="navbar-collapse collapse">

        <div id="navbar-collapse-2" class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">
                <!-- Forms -->
                <li class="dropdown yamm-fw">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                        <span class="glyphicon glyphicon-cog" style="width: 100px;"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">

                                <div class="row">
                                    <div class="col-sm-2 col-sm-offset-0">
                                        <h4>
                                            SPARQL Endpoint:
                                        </h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <form>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Endpoint..." ng-model="endpoint">
                                            <span class="input-group-btn">
                                                 <button class="btn btn-success" type="button" ng-click="setendpoint()">ok</button>
                                            </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <form class="navbar-form" role="search">
            <div class="form-group" style="display:inline;">
                <div class="input-group" style="display:table;">
                    <input id="search" type="text" autofocus="autofocus" autocomplete="off" placeholder="Search for keyword or URI" name="search" style="" class="form-control typeahead" ng-model="searchString"/>
                    <span type="submit" ng-click="browse()" class="input-group-addon btn btn-danger" style="width: 1%;">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                </div>
            </div>
        </form>

    </div>

</nav>